@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.conteiner{
  height: 200vh;
  background-color: #e5e5e5;
  position: relative;
}

.part1{
  position: absolute;
  left: 30%;
  top: 25%;
  width: 432px;
  height: 389px;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  left: 583px;
  top: 186px;
  font-family:Roboto, sans-serif;
}

.part2{
  position: absolute;
  text-align: center;
  width: 432px;
  height: 389px;
  left: 584px;
  top: 614px;
  background: #FFFFFF;
  font-family: Roboto, sans-serif;
  border-radius: 20px
}

img{
  margin-top: 50px;
}

.boton1{
  color: #fff;
  background-color: #ed6755;
  outline: none;
  border-radius: 5px;
  margin-top: 70px;
  width: 150px;
  height: 50px;
}

.boton2{
  color: #fff;
  background-color: #1C1B5E;
  ;
  outline: none;
  border-radius: 5px;
  margin-top: 70px;
  width: 150px;
  height: 50px;
}

p{
  margin-top: 30px;
}